<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>服务器响应失败</string>
	<string>请求格式错误</string>
	<string>请求参数错误</string>
	<string>用户名不存在</string>
	<string>用户价格小于平台支付价格</string>
	<string>更新编码状态出错</string>
	<string>编码状态出错,位置被NO或编码被取消</string>
	<string>Token无效</string>
	<string>签名验证不通过</string>
	<string>UUID不能为空</string>
	<string>Token为空</string>
	<string>action为空</string>
	<string>MachineCode为空</string>
	<string>data为空</string>
	<string>DepDate起飞日期为空</string>
	<string>OrgCity出发城市为空</string>
	<string>DstCity到达城市为空</string>
	<string>FlightWay行程类型单程往返为空</string>
	<string>SortType排序方式为空</string>
	<string>QueryType查询方式为空</string>
	<string>PageSize条数为空</string>
	<string>PageIndex页码为空</string>
	<string>TotalPrice价格为空</string>
	<string>Tel电话为空</string>
	<string>Name姓名为空</string>
	<string>Contact联系人信息为空</string>
	<string>Delivery航程信息为空</string>
	<string>DeliveryType配送类型为空</string>
	<string>ExpressNo快递单号为空</string>
	<string>Mobile电话为空</string>
	<string>Sequence为空</string>
	<string>FlightNo航班号为空</string>
	<string>OrgJetquay始发航站楼为空</string>
	<string>DstJetquay到达航站楼为空</string>
	<string>SeatClass舱位为空</string>
	<string>TakeOffTime起飞时间为空</string>
	<string>SeatMsg舱位说明为空</string>
	<string>Discount折扣为空</string>
	<string>ArrTime到达时间为空</string>
	<string>RatePoint返点为空</string>
	<string>PolicyId政策id为空</string>
	<string>AduTicketPrice成人票面价为空</string>
	<string>AduAirBuid成人基建为空</string>
	<string>AduOil成人燃油为空</string>
	<string>Gender性别为空</string>
	<string>PType乘客类型为空</string>
	<string>IdType证件类型为空</string>
	<string>IdNo证件号为空</string>
	<string>VoyageInfo航程信息为空</string>
	<string>PassengerList乘客信息为空</string>
	<string>PnrInfos订单信息为空</string>
	<string>OrderNoApp客户端订单为空</string>
	<string>PayType支付类型为空</string>
	<string>AirLine航司为空</string>
	<string>登录密码错误</string>
	<string>禁止登录</string>
	<string>政策为空</string>
	<string>订单详情获取失败</string>
	<string>预订编码失败</string>
	<string>PlaneType机型为空</string>
	<string>补价失败</string>
	<string>价格变动，重新生成订单</string>
	<string>新增卖出订单信息失败</string>
	<string>查询日期不在规定日期之内</string>
	<string>订单号为空</string>
	<string>Token过期</string>
	<string>未获取到手机绑定信息</string>
	<string>账号信息为空</string>
	<string>重复创单</string>
	<string>舱位售完</string>
	<string>验证码错误</string>
	<string>客户端服务端信息不一致</string>
	<string>证件号输入错误</string>
	<string>姓名中包含非法字符</string>
	<string>邮寄费MailingFee为空</string>
	<string>合作伙伴PartnerID为空</string>
	<string>乘客中包含失信被执行人</string>
	<string>用户名为空</string>
	<string>找不到合作伙伴信息</string>
	<string>未获取到支付方式</string>
</array>
</plist>
