<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>新订单,等待支付</string>
	<key>2</key>
	<string>已经付款,等待出票</string>
	<key>3</key>
	<string>已经出票,交易结束</string>
	<key>4</key>
	<string>取消出票,等待退款</string>
	<key>5</key>
	<string>已经退款,交易结束</string>
	<key>6</key>
	<string>订单已取消</string>
	<key>7</key>
	<string>支付成功,等待处理</string>
	<key>8</key>
	<string>处理成功,交易结束</string>
	<key>9</key>
	<string>改签订单审核不通过,交易结束</string>
	<key>10</key>
	<string>退票订单,等待审核</string>
	<key>11</key>
	<string>改签订单,等待审核</string>
	<key>12</key>
	<string>退票订单审核不通过,交易结束</string>
	<key>13</key>
	<string>废票订单,等待审核</string>
	<key>14</key>
	<string>审核通过,等待退款</string>
	<key>15</key>
	<string>废退票订单审核不通过,交易结束</string>
	<key>16</key>
	<string>审核通过,等待支付</string>
	<key>17</key>
	<string>代付中</string>
	<key>18</key>
	<string>退款订单,延迟处理</string>
	<key>19</key>
	<string>线下订单待确认</string>
	<key>20</key>
	<string>线下订单审核不通过,交易结束</string>
	<key>21</key>
	<string>暂不能出票,等待处理</string>
	<key>22</key>
	<string>退票订单,提交到航空公司审核</string>
	<key>23</key>
	<string>退票申请,待平台审核</string>
	<key>24</key>
	<string>退款中</string>
	<key>25</key>
	<string>已经退票,待平台审核</string>
	<key>26</key>
	<string>改签代付中</string>
	<key>27</key>
	<string>取消改签代付,交易结束</string>
	<key>28</key>
	<string>取消改签，退款中</string>
	<key>29</key>
	<string>取消改签，已退平台</string>
	<key>30</key>
	<string>取消改签已退款，交易结束</string>
	<key>107</key>
	<string>代付失败</string>
	<key>108</key>
	<string>代付失败，余额不足</string>
</dict>
</plist>
