<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>image</key>
		<string>ca_icon_pay_type_balance</string>
		<key>title</key>
		<string>余额支付</string>
		<key>message</key>
		<string></string>
	</dict>
	<key>1</key>
	<dict>
		<key>image</key>
		<string>alipy_img_tip</string>
		<key>title</key>
		<string>支付宝</string>
		<key>message</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>image</key>
		<string>weixin</string>
		<key>title</key>
		<string>微信支付</string>
		<key>message</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>image</key>
		<string>bank_img_tip</string>
		<key>title</key>
		<string>银行卡支付</string>
		<key>message</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>image</key>
		<string>dk_img_tip</string>
		<key>title</key>
		<string>支付宝代扣</string>
		<key>message</key>
		<string>请保证支付宝余额充足</string>
	</dict>
	<key>5</key>
	<dict>
		<key>image</key>
		<string>dk_tencnt_img_tip</string>
		<key>title</key>
		<string>财付通代扣</string>
		<key>message</key>
		<string>请保证支付宝余额充足</string>
	</dict>
	<key>6</key>
	<dict>
		<key>image</key>
		<string>card_img_tip</string>
		<key>title</key>
		<string>信用卡大额支付</string>
		<key>message</key>
		<string></string>
	</dict>
	<key>7</key>
	<dict>
		<key>image</key>
		<string>yi_lian_img</string>
		<key>title</key>
		<string>信用卡大额支付(SDK)</string>
		<key>message</key>
		<string></string>
	</dict>
	<key>8</key>
	<dict>
		<key>image</key>
		<string>yi_lian_img</string>
		<key>title</key>
		<string>银联语音支付</string>
		<key>message</key>
		<string></string>
	</dict>
	<key>17</key>
	<dict>
		<key>image</key>
		<string>yi_lian_img</string>
		<key>title</key>
		<string>银行卡支付(SDK)</string>
		<key>message</key>
		<string></string>
	</dict>
</dict>
</plist>
