<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secondOpen</key>
	<string>二期开放</string>
	<key>vipLobbyTitle</key>
	<string>贵宾厅</string>
	<key>noSearchContent</key>
	<string>未搜索到相关数据</string>
	<key>headerPullToRefreshText</key>
	<string>下拉刷新</string>
	<key>headerReleaseToRefreshText</key>
	<string>松开马上刷新</string>
	<key>headerRefreshingText</key>
	<string>刷新中,稍微等待一下....</string>
	<key>footerPullToRefreshText</key>
	<string>上拉可以加载更多数据</string>
	<key>footerReleaseToRefreshText</key>
	<string>松开马上加载更多数据</string>
	<key>footerRefreshingText</key>
	<string>加载中,稍微等待一下....</string>
	<key>loginPlease</key>
	<string>请登录!</string>
	<key>noComment</key>
	<string>暂无评论!</string>
	<key>nameEmpty</key>
	<string>姓名不能为空!</string>
	<key>noMoreComment</key>
	<string>无更多评论!</string>
	<key>telError</key>
	<string>电话号码格式不正确!</string>
	<key>selectDateTitle</key>
	<string>选择日期</string>
	<key>imageDetailTitle</key>
	<string>图片详情</string>
	<key>userTitleArray</key>
	<array>
		<string>个人信息</string>
		<string>我的账户</string>
		<string>我的积分</string>
		<string>修改密码</string>
		<string>会员订单</string>
		<string>消息中心</string>
		<string>关于我们</string>
	</array>
	<key>userTitle</key>
	<string>会员信息</string>
	<key>exit</key>
	<string>退出</string>
	<key>login</key>
	<string>登录</string>
	<key>notLogin</key>
	<string>未登录</string>
	<key>myScoreTitle</key>
	<string>我的积分</string>
	<key>modifyPwdTitleArray</key>
	<array>
		<string>输入旧密码:</string>
		<string>输入新密码:</string>
		<string>再次输入新密码:</string>
	</array>
	<key>modifyPwdTitle</key>
	<string>修改密码</string>
	<key>oldPasswordError</key>
	<string>旧密码须由6-12位字母数字组合!</string>
	<key>newPasswordError</key>
	<string>新密码须由6-12位字母数字组合!</string>
	<key>passwordNotSameError</key>
	<string>重复密码与密码不一致!</string>
	<key>modifyPwdSuccess</key>
	<string>修改密码成功!</string>
	<key>loginTitle</key>
	<string>会员登录</string>
	<key>register</key>
	<string>注册</string>
	<key>accountError</key>
	<string>账号格式不正确!</string>
	<key>passwordError</key>
	<string>密码格式为6-12位字母数字组合!</string>
	<key>pCodeError</key>
	<string>验证码不正确!</string>
	<key>loginSuccess</key>
	<string>登录成功!</string>
	<key>registerTitle</key>
	<string>注册</string>
	<key>registerTitleArray</key>
	<array>
		<string>姓名:</string>
		<string>密码:</string>
		<string>手机号:</string>
		<string>身份证:</string>
		<string>收货地址:</string>
		<string>输入验证码:</string>
	</array>
	<key>personCodeError</key>
	<string>身份证号码格式不正确!</string>
	<key>addressError</key>
	<string>收货地址不能为空!</string>
	<key>registerSuccess</key>
	<string>已成功注册!</string>
	<key>fogetPwdTitle</key>
	<string>找回密码</string>
	<key>fogetPwdTitleArray</key>
	<array>
		<string>输入手机号:</string>
		<string>输入密码:</string>
		<string>再次输入密码:</string>
		<string>输入短信验证码:</string>
	</array>
	<key>shortMessageCodeError</key>
	<string>短信验证码不正确!</string>
	<key>findPwdSuccess</key>
	<string>密码已找回!</string>
	<key>shortMessageTip</key>
	<string>短信验证码为: </string>
	<key>meDetailTitle</key>
	<string>个人信息</string>
	<key>edit</key>
	<string>编辑</string>
	<key>meDetailTitleArray</key>
	<array>
		<string>账号</string>
		<string>姓名</string>
		<string>性别</string>
		<string>身份证号码</string>
		<string>电话号码</string>
		<string>邮箱</string>
		<string>QQ</string>
		<string>MSN</string>
		<string>生日</string>
		<string>家庭住址</string>
	</array>
	<key>updateSuccess</key>
	<string>更新成功!</string>
	<key>vipOrderTitle</key>
	<string>贵宾厅订单</string>
	<key>deleteOrderTip</key>
	<string>确定要删除订单吗?</string>
	<key>confirm</key>
	<string>确定</string>
	<key>cancel</key>
	<string>取消</string>
	<key>noOrderList</key>
	<string>订单列表为空</string>
	<key>useSuccess</key>
	<string>使用成功</string>
	<key>applyTip</key>
	<string>确定要申请退款吗?</string>
	<key>haveApply</key>
	<string>已申请退款</string>
	<key>noMoreOrder</key>
	<string>无更多订单!</string>
	<key>payTitle</key>
	<string>支付</string>
	<key>aliPaySuccess</key>
	<string>支付宝支付成功!</string>
	<key>aliPayFail</key>
	<string>支付宝支付失败!</string>
	<key>commentTitle</key>
	<string>订单评价</string>
	<key>commentContentEmpty</key>
	<string>评论内容不能为空!</string>
	<key>submitCommentSuccess</key>
	<string>提交评论成功!</string>
	<key>messageTitle</key>
	<string>消息中心</string>
	<key>noMsg</key>
	<string>无消息!</string>
	<key>msgDetailTitle</key>
	<string>消息详情</string>
	<key>leftPayTitle</key>
	<string>余额支付</string>
	<key>notEnoughLeftMoney</key>
	<string>余额不足以支付!</string>
	<key>leftPaySuccess</key>
	<string>余额支付成功!</string>
	<key>myAccountTitle</key>
	<string>我的账户</string>
	<key>myAccountTitleArray</key>
	<array>
		<string>退款订单号</string>
		<string>退款时间</string>
		<string>退款金额</string>
	</array>
	<key>nowNoData</key>
	<string>暂无数据</string>
	<key>chargetViewTitle</key>
	<string>充值</string>
	<key>chargeMountEmpty</key>
	<string>充值金额不能为空!</string>
	<key>chargetTitle</key>
	<string>易行商旅账号充值</string>
	<key>chargeContent</key>
	<string>账号充值%@元</string>
	<key>aliChargeSuccess</key>
	<string>支付宝充值成功!</string>
	<key>aliChargeFail</key>
	<string>支付宝充值失败!</string>
	<key>withDrawCashTitle</key>
	<string>提取现金</string>
	<key>withDrawCashToAliTitle</key>
	<string>提现到支付宝</string>
	<key>withDrawMoreThanAccount</key>
	<string>提取金额已超过账户金额!</string>
	<key>withDrawEmpty</key>
	<string>提取金额不能为空!</string>
	<key>withDrawAliAccountEmpty</key>
	<string>账号不能为空!</string>
	<key>withDrawSuccess</key>
	<string>提现成功,当天内到账!</string>
	<key>withDrawBankNameEmpty</key>
	<string>开户行不能为空!</string>
	<key>withDrawBankAccountEmpty</key>
	<string>账号不能为空!</string>
	<key>withDrawBankTitle</key>
	<string>提现到银行卡</string>
	<key>chargeAmountError</key>
	<string>充值金额必须大于0</string>
	<key>withDrawLessThanZero</key>
	<string>提取金额必须大于0</string>
	<key>oldPasswordEmpty</key>
	<string>旧密码不能为空!</string>
	<key>withDrawBankAccountError</key>
	<string>银行卡账户不正确!</string>
	<key>withDrawCashError</key>
	<string>提取金额格式不正确！</string>
	<key>chargeError</key>
	<string>充值金额格式不正确!</string>
	<key>emailError</key>
	<string>邮箱格式不正确!</string>
	<key>dateEmpty</key>
	<string>日期不能为空!</string>
	<key>personCodeEmpty</key>
	<string>身份证号码不能为空!</string>
	<key>telEmpty</key>
	<string>手机号不能为空!</string>
	<key>sendMsg</key>
	<string>获取验证码</string>
	<key>msgCodeTimeIntervalTip</key>
	<string>获取验证码时间间隔不能小于60秒!</string>
	<key>qqError</key>
	<string>qq号只能为数字</string>
	<key>msnError</key>
	<string>msn格式不正确</string>
	<key>phoneEmpty</key>
	<string>电话号码不能为空</string>
	<key>aboutTitle</key>
	<string>关于易行商旅</string>
	<key>upPayTitle</key>
	<string>银联支付</string>
	<key>upChargeTitle</key>
	<string>充值</string>
	<key>upPaySuccess</key>
	<string>银联充值成功</string>
	<key>upPayFail</key>
	<string>银联充值失败</string>
	<key>upPayCancel</key>
	<string>银联充值取消</string>
	<key>orderEntryTitle</key>
	<string>会员订单</string>
	<key>leveUpTitle</key>
	<string>升级VIP</string>
	<key>level1UpTitleArray</key>
	<array>
		<string>600多间头等舱贵宾服务</string>
		<string>国内外300多家机场头等舱贵宾服务</string>
		<string>100多家机场的要客通道接送机服务</string>
		<string>50多个城市的礼宾车服务</string>
		<string>公司自有冠名休息厅服务针对会员及同行人员免费</string>
		<string>火车票、酒店作为衍生服务可为会员进行代订</string>
	</array>
	<key>level2UpTitleArray</key>
	<array>
		<string>600多间头等舱贵宾服务</string>
		<string>国内外300多家机场头等舱贵宾服务</string>
		<string>可单次预订100多家机场的要客通接送机服务</string>
		<string>50多个城市的礼宾车服务</string>
		<string>公司自有冠名休息厅服务针对会员及同行人员免费</string>
		<string>火车票、酒店作为衍生服务可为会员进行代订</string>
	</array>
	<key>levelUpListTitle</key>
	<string>升级VIP订单</string>
	<key>msgCodeEmpty</key>
	<string>验证码不能为空</string>
	<key>v3Name</key>
	<string>钻石VIP会员</string>
	<key>isMostVip</key>
	<string>已经是钻石VIP会员</string>
	<key>levelUp</key>
	<string>升级</string>
	<key>v2Name</key>
	<string>VIP会员</string>
	<key>hasBuyVIp</key>
	<string>已是VIP会员</string>
	<key>errorAliAccount</key>
	<string>支付宝账号只支持手机号码和邮箱</string>
	<key>scoreViewControllerTitle</key>
	<string>会员积分</string>
	<key>aliPayBuyVipName</key>
	<string>购买VIP会员</string>
	<key>aliPayBuyMostVipName</key>
	<string>购买砖石会员</string>
	<key>webViewTitle</key>
	<string>详情</string>
	<key>loadAll</key>
	<string>已加载完所有数据</string>
	<key>isBuilding</key>
	<string>正在维护</string>
	<key>thirdOpen</key>
	<string>三期开放</string>
	<key>accountEmpty</key>
	<string>账号不能为空</string>
	<key>buyTicketTitle</key>
	<string>机票预订</string>
</dict>
</plist>
